
.skill-to-s {
    animation-duration: 500ms;
    animation-name: toSelectedSkill;
    animation-fill-mode: forwards;    
}

.skill-to-h {
    animation-duration: 500ms;
    animation-name: toHighlightedSkill;
    animation-fill-mode: forwards;    
}

.skill-to-v {
    animation-duration: 500ms;
    animation-name: toVisibleSkill;
    animation-fill-mode: forwards;    
}

.skill-to-i {
    animation-duration: 500ms;
    animation-name: toInvisibleSkill;
    animation-fill-mode: forwards;    
}

@keyframes toHighlightedSkill {
    to {
        color: black;
        font-size: 1.2em;
        padding: 10;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}


@keyframes toSelectedSkill {
    to {
        color: red;
        font-size: 1.4em;
        padding: 10;
        border: 2px solid red;
        border-radius: 5px;
        margin: 2px;
    }
}

@keyframes toInvisibleSkill {
    to {
        color: grey;
        font-size: 0.8em;
        padding: 2;
        margin: 2px;
    }
}

@keyframes toVisibleSkill {
    to {
        color: black;
        font-size: 1.0em;
        padding: 5;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2px;
    }
}

.setting-to-s {
    animation-duration: 500ms;
    animation-name: toSelectedSetting;
    animation-fill-mode: forwards;    
}

.setting-to-s:hover {
    opacity: 1.0;    
}

.setting-to-h {
    animation-duration: 500ms;
    animation-name: toHighlightedSetting;
    animation-fill-mode: forwards;    
}

.setting-to-h:hover {
    opacity: 1.0;    
}

.setting-to-v {
    animation-duration: 500ms;
    animation-name: toVisibleSetting;
    animation-fill-mode: forwards;    
}

.setting-to-v:hover {
    opacity: 1.0;    
}

.setting-to-i {
    animation-duration: 500ms;
    animation-name: toInvisibleSetting;
    animation-fill-mode: forwards;    
}

.setting-to-i:hover {
    opacity: 1.0;    
}

@keyframes toHighlightedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}


@keyframes toSelectedSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

@keyframes toInvisibleSetting {
    to {
        padding: 10;
        opacity: 0.2
    }
}

@keyframes toVisibleSetting {
    to {
        padding: 10;
        opacity: 1.0
    }
}

